VITE_SUPABASE_URL=https://lahoorkdcopypnubnosl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhaG9vcmtkY29weXBudWJub3NsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMjIwMjcsImV4cCI6MjA5MDc5ODAyN30.mrALbqHWYCXOqFuUj80MTNg0R3zoSbYihBRbxL238EU
